{% load static %}




 
<div class="d-flex flex-column align-items-center justify-content-center p-1">
    {% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="border-0 bg-transparent close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
  {% if message.tags == 'success' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="border-0 bg-transparent close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
<form action="{% url 'dologin' %}" method="post">
    {% csrf_token %}
    <div class="loginformlabel">LOGIN</div>
    <div class="imgcontainer mt-4">
        <label>
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    </label>
    </div>
  
    <div class="container">
        <div class="p-1">
      <label for="uname"><b>Username</b></label>
      <input class="form-control" type="text" placeholder="Enter Username" name="email" required>
    </div>
    <div class="p-1">
      <label for="psw"><b>Password</b></label>
      <input class="form-control" type="password" placeholder="Enter Password" name="password" required>
    </div>
      <div class="p-1">
      <button class="loginbutton"  type="submit">Login</button>
      <label>
      </div>
       
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
        <span > Don't have an account? <a href="/signup">Register now!</a></span>
    </div>
  </form>
</div>